@model CustomerCRUDApp.Models.VM.CustomerIndexViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>
<body>
    <h1 class="text-center mt-5 mb-4" , style="color: red;">CUSTOMER CRUD APP</h1>
    <div class="container">
        <table class="table table-striped p-3">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        FullName
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Action
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var c in @Model.Customers)
                {
                    <tr>
                        <td>@c.Id</td>
                        <td>@c.FullName</td>
                        <td>@c.Age</td>
                        <td>@c.Address</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { customerId = c.Id }) &nbsp;|
                        @Html.ActionLink("Delete", "Delete", new { customerId = c.Id }, new { onclick = "return confirm('Are you sure want to delete')" })
                    </td>
                </tr>
            }
            </tbody>
        </table>
        &nbsp;&nbsp;&nbsp;&nbsp;
        @Html.ActionLink("Add Customer", "Add", "", new { @class = "btn btn-primary" })
    </div>
</body>
</html>
